#gallery {
    border: 1px solid #ccc;
    min-width: 768px;
    min-height: 580px;/*480px for panel, 100px for carousel */
    position: relative;
}
#carousel {
    overflow: hidden;
    width: 100%;
    /* height: 100px; */
    height: 79px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #ccc;
}
#carousel ul {
    width: 10000px;
    list-style: none;
    /* height: 100%; */
    /* height: 100%; */
    height: 79px;
    padding: 0;
    margin: 0;
}
#carousel ul li {
    position: relative;
    float: left;
    height: 100%;
    width: 128px;
    height: 79px;
    border: 1px solid #ccc;
}
#carousel ul li img {
    width: 100%;;
}
#carousel .arrow {
    border: solid #AAA;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
    z-index: 9;
    margin: 0;
    top: 50%;
}
#carousel .arrow:hover {
    border-color: #FFF;
}
#carousel  .right {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    right: 10px;
}

#carousel .left {
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    left: 25px
}
